body{
	margin: 0;
	background-color: #E5E8E8;
	font-family: Arial, Helvetica, sans-serif;
}
.row{
	clear: both;
}

 .col-md-3, .col-md-5, .col-md-8{
	float: left;
	background-color: #FFFFFF;
}

.col-md-offset-1{
	margin-left: 10%;
}

.col-md-8{
	width: 80%;
	text-align: center;
}

.img-responsive{
	width: 89%;
	background-color: #FFFFFF;
	text-align: center;
	margin-top: 120px;	
}

img.img-perfil{
	width: 18%;
	border-radius: 50%;
	background-color: grey;
	padding: 10px;
	display: block;
	position: relative;
	top: -80px;
	left: 40%;
}

h2{
	margin: 0;
	padding-bottom: 30px;
}

span{
	color: #EC7063;
}

.col-md-5{
	width: 50%;
}
.col-md-3{
	width: 30%;
}

h3{
	color:  #6C3483 ;
	margin: 15px 0 0 25px;
}

.lorem{
	margin-left: 25px;
}

.data{
	margin-left: 25px;

}

h5{
	width: 30%
	margin: 0;
	display: inline-block;
}

.describe{
	width: 70%;
	display: inline-block;
	margin-left: 40px;
	text-align: right;
	background-color: #FADBD8;
	padding: 15px;
}

.where-year{
	width: 15%;
	display: inline-block;
	margin: 0 0 0 25px;
	
}

.rol{
	width: 65%;
	display: inline-block;
	margin-left: 10px;
	text-align: right;
}

.skills{
	margin: 30px 0 20px 0;
}

ul.conoc-list{
	padding-left: 0;
}
.conoc-list li{
	list-style: none;
	margin: 10px 0 20px 5px;
	padding: 5px;
	background-color: #E74C3C;
}

.aptitud1{ 
	width: 70%;	
}

.aptitud2{ 
	width: 65%;	
}

.aptitud3{ 
	width: 50%;
}

.aptitud4{ 
	width: 55%;
}

.aptitud5{ 
	width: 80%;
}	

.aptitud6{ 
	width: 90%;
}

.language{
	padding: 25px;
}

.fa-star, .fa-star-half{
	margin: 0 2px 0 5px;
}

.hob{
	text-align: center;
	padding-bottom: 30px;
	margin: 20px 0 11px 65px;
	width: 50%;
}

.hob1, .hob3, .hob5{
	padding: 15px;
	background-color: #E74C3C; 
}

.hob2, .hob4, .hob6{
	padding: 15px;
	background-color: #A569BD;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}
